@import "tailwindcss";

/* Estilos globais básicos do projeto */
html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

/* Se quiser manter o fundo escuro global, pode deixar assim.
   Se preferir que só o <main> controle a cor, pode remover o background daqui. */
body {
	
	color: #e5e7eb; /* slate-200 */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		sans-serif;
}
